<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   
    "-//mybatis.org//DTD Mapper 3.3//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
    
    <mapper namespace="com.wa.xwolf.sblog.dao.ArticleDao">
    
     <insert id="addArticle" parameterType="java.util.Map" statementType="PREPARED" >
      insert into xwolf_article (title, author,url,
			type,publish_time, status,content, mini_type,tag) 
			values(#{title},#{author},#{url},#{type},
			#{publishTime},#{status},#{content,jdbcType=BLOB},#{mini_type},#{tag})
     </insert>
     
     <delete id="deleteArticle" parameterType="Integer">
     delete from xwolf_article where id =#{id}
     </delete>
     
     <select id="findArticles" parameterType="java.util.Map" resultMap="articleMap">
     select * from xwolf_article 
     <trim suffix="where" suffixOverrides="AND | OR" >
      <if test="title!='%null%'">
       and title like #{title}
      </if>
      <if test="type!=null">
      and type = #{type}
      </if>
      <if test="start!=null">
      and DATE_FORMAT(publish_time,'%Y%m%d') &gt;= #{start}
      </if>
      
      <if test="end!=null">
      and DATE_FORMAT(publish_time,'%Y%m%d') &lt;=  #{end}
      </if>
      
      
     </trim>
      
      limit #{page} , #{pageSize}
    
     </select>
     
     <select id="findById" resultMap="articleMap">
     select * from xwolf_article where id = #{id}
     </select>
     
     <resultMap type="Article" id="articleMap">
     <!-- 此处映射暂时去掉内容 -->
     <id column="id" property="id"/>
     <result column="title" property="title"/>
      <result column="author" property="author"/>
       <result column="url" property="url"/>
        <result column="type" property="type"/>
         <result column="publish_time" property="publishTime"/>
          <result column="status" property="status"/>
          <result column="mini_type" property="miniType"/>
          <result column="tag" property="tag"/>
     </resultMap>
     
     <update id="updateArticle" parameterType="java.util.Map" statementType="PREPARED">
     update xwolf_article set
      title=#{title},author=#{author},url=#{url},
			type=#{type}, status=#{status},
			content=#{content,jdbcType=BLOB}, mini_type=#{miniType},tag=#{tag}
      where id=#{id}
     </update>
     
     <!-- -根据id获取内容 -->
     <select id="getContentById" parameterType="Integer" resultType="java.util.Map">
     select id,title,publish_time,author,content,url,tag,type from xwolf_article where id=#{id}
     </select>
     
     <!-- 根据条件查询总记录数  -->
     
     <select id="findTotal" parameterType="java.util.Map" resultType="Integer">
       
       select count(*) from xwolf_article 
     <trim suffix="where" suffixOverrides="AND | OR" >
      <if test="title!='%null%'">
       and title like #{title}
      </if>
      <if test="type!=null">
      and type = #{type}
      </if>
      <if test="start!=null">
      and DATE_FORMAT(publish_time,'%Y%m%d') &gt;= #{start}
      </if>
      
      <if test="end!=null">
      and DATE_FORMAT(publish_time,'%Y%m%d') &lt;=  #{end}
      </if>
     </trim>
     </select>
     
    
    
    </mapper>